able, td {
    
  
    
}

ul {
    display: flex;
    justify-content: space-around
}


nav  {
   
   
    
}

.navbar-brand {
     color: white;
}

.container{
    margin-bottom: 20px;
    margin-top: 20px;
}
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 10px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.banner{
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('usflagShorter.jpg');
    height: 80px;
    width: auto;
}

